input[type=message], input[type=email], input[type=text], textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #272731; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical
  }

  button[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button[type=submit]:hover {
    background-color: #45a049;
  }
  
  #MainMenu {visibility: hidden;}
  footer {visibility: hidden;}
  header {visibility: hidden;}